* {
    box-sizing: border-box;
    margin: 0;
}

.font {
    font-family: 'Exo 2' , sans-serif;
}

.side_padding {
    padding-left: 20px;
    padding-right: 20px;
}

.delivery_payment {
    text-align: center;
    flex: 1 0 auto;
}

.icon {
    width: 50px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(50deg, rgb(243, 151, 12), #ffdc38 55%);
    box-shadow: 0 5px 5px #ffdc38;
}

.delivery_payment>div:first-child {
    max-width: 1300px;
    margin: auto;
    display: grid;
    padding: 90px 0;
    /* grid-template-columns: 240px 240px 240px 10px 350px; */
    grid-template-rows: 30px 120px 50px 110px;
    grid-column-gap: 45px;
    grid-row-gap: 20px;
    grid-template-areas:
    '.     delivery delivery delivery form'
    'order delivery delivery delivery form'
    '.     .        .        .        form'
    '.      connection number .       form' ;
    /* position: relative; */
}

.delivery_payment h4 {
    margin-bottom: 10px;
}

.order {
    grid-area: order;
}

.delivery {
    grid-area: delivery;
    text-align: left;
    background-color: rgb(248, 248, 248);
    padding: 40px 30px;
    background-image: url('../images/frutcube.com.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 120px;

}

.delivery>h2 {
    font-family: 'Russo One', sans-serif;
    color: rgb(15, 15, 51);
    margin-bottom: 10px;
}

.connection {
    grid-area: connection;
}

.number {
    grid-area: number;
}

.form {
    grid-area: form;
    width: 310px;
    background-image: linear-gradient(0deg, rgb(243, 151, 12), #ffdc38 75%);
    padding: 35px 0;
    border-radius: 15px;
}

.form p {
    margin: 15px 0;
}

.form label {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 35px;
}

label img {
    width: 45px;
    padding: 0 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 0px 20px rgb(214, 147, 22);
}

.form input {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    box-shadow: 0px 0px 20px rgb(214, 147, 22);
}

.button_form {
    color: rgb(15, 15, 51);
    font-weight: bold;
    font-size: 12px;
    border-radius: 20px;
    border: solid 2px rgb(9, 80, 9);
    height: 45px;
    width: 220px;
    background-color: inherit;
    margin-top: 5px;
}

.lower_text_form {
    font-size: 12px;
    color: rgb(129, 129, 126);
}

.footer {
    flex: 0 0 auto;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
}


@media only all and (min-width: 690px) and (max-width:930px) {
    .delivery_payment>div:first-child {
        grid-template-rows: 160px 200px 380px;
        grid-template-areas:
        'delivery delivery delivery '
        'order    connection number '
        '.        form         .    ';
    }
}

@media only all and (max-width: 690px) {
    .delivery_payment>div:first-child {
        padding: 0;
        grid-template-rows:160px 160px 160px 160px 380px;
        grid-column-gap: 45px;
        grid-row-gap: 20px;
        grid-template-areas:
        'delivery'
        'order'
        'connection'
        'number'
        'form';
    }

    .delivery {
        background-image: none;
    }

    .form {
        margin: auto;
    }
}
