* {
    box-sizing: border-box;
    margin: 0;
}

.font {
    font-family: 'Exo 2' , sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row ;
    padding: 15px 0;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}
header {
    background-color: rgb(248, 248, 248);
}
.logo img{
    width: 6em;
}
.navigation {
    margin: 0;
    padding: 0;
}
.navigation > li {
    display: inline-block;
    margin-right: 15px;
    
}
.navigation > li:last-child {
    margin-right: 0;
    
}
header [href$=".html"], footer [href$=".html"] {
    text-decoration: none;
    color: black;
}
header [href$=".html"]:hover, footer [href$=".html"]:hover {
    text-decoration: underline;
}
.nav_right > div {
    display: inline-block;
}

.nav_right select {
    background-color: rgb(248, 248, 248);
    border: none;
    width: 80px;
    background: url('../images/circle.png') no-repeat right;
    margin-right: 15px;
    background-size: 19px;  
    font-size: 16px;
}

.main_section {
    background-color: rgb(248, 248, 248);
    background-image: url('../images/Vector.png');
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 155px;
    background-size: 100% auto;
}
.main_section > div {
    display: flex;
    flex-direction: row;
    color: rgb(15, 15, 51);
    max-width: 1300px;
    margin: auto;

}

.main_section > div > div {
    flex: 300px 1 0;
}

.main_section h1 {
    max-width: 430px;
    font-family: 'Russo One', sans-serif;
    font-size: 35px;
}
.main_section p {
    font-size: 16px;
    margin-top: 25px;
    /* font-weight: bold; */
    max-width: 400px;
}

.main_section [href$=".html"] {
    text-decoration: none;
    color: rgb(15, 15, 51);
}
.yellow_underline {
    text-decoration: underline #ffdc38;
    text-decoration-skip-ink: none;
}

.button1 {
    color: rgb(15, 15, 51);
    font-weight: bold;
    font-variant:  small-caps;
    border-radius: 20px;
    border: none;
    height: 35px;
    width: 160px;
    background-image: linear-gradient(50deg, rgb(243, 151, 12), #ffdc38 55%);
    box-shadow: 0 10px 20px #ffdc38;
    margin-top: 25px;
}

.button1:hover {
    background-image: linear-gradient(50deg, rgb(243, 151, 12), #ffdc38);
}

.main_section >div >div:first-child {
    margin-top: 60px;
}

.side_padding {
    padding-left: 20px;
    padding-right: 20px;
}

.advantages {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.advantages div {
    display: flex;
    flex: 100px 1 0;
}

.advantages img {
    width: 20px;
    margin-right: 5px;
}

.bottle {
    text-align: center;
    position: relative;
}

.bottle img{
    width: auto;
    max-height: 500px;
}

.card1 {
    width: 220px;
    height: 120px;
    border-radius: 20px;
    background-color: #ffdc38;
    text-align: left;
    padding: 10px 20px;
    position: absolute; right: 50px; bottom: 30px;
    background-image: url('../images/lemon.png');
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 120% 10%;
}

.card1 div:first-child {
    font-size: 20px;
}

.card1 div {
    margin-bottom: 12px;
}
.button2 {
    color: rgb(15, 15, 51);
    font-weight: bold;
    font-size: 12px;
    border-radius: 20px;
    border: solid 1px rgb(9, 80, 9);
    height: 25px;
    width: 80px;
    background-color: #ffdc38;
}

.button2:hover {
    background-color: #f0cf77;
}

.products {
    /* display: inline-block; */
    text-align: center;
    width: 100%;
}

.products h2{
    font-family: 'Russo One', sans-serif;
    color: rgb(15, 15, 51);
}

.products p {
    font-size: 16px;
    margin-top: 25px;
    /* font-weight: bold; */
}

.main_jams {
    display: flex;
    max-width: 1300px;
    margin: auto;
    /* margin-top: 25px; */
}

.jams {
    flex: 100px 1 0;
    display: flex;
    justify-content: space-between;
    height: 350px;
    overflow: hidden;
    padding: 25px 10px 10px;
}

.jams>div {
    border-radius: 10px;
    color: white;
    flex-basis: 260px;
    position: relative;
    overflow: hidden;
}

.jams>div:hover {
    transform: scale(1.05);
    transform-origin:bottom ;
    transition-duration: 1s;
}
.jams>div:hover>img {
    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

.jams>div:hover>.button_jams {
    display: block;
}
.jams_tittle {
    font-size:  20px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.jams img{
    width: auto;
    max-height: 300px;
    margin-top: 15px;
}

.jams2 {
    background-image: linear-gradient(0deg, #d31d2c, #f75865 55%) ;
}

.jams3 {
    background-image: linear-gradient(0deg, #55539b, #918fd8 55%);
}

.jams4 {
    background-image: linear-gradient(0deg, #eb6526, #ec8a63 55%);
}

.jams5 {
    background-image: linear-gradient(0deg, #8a2b4f, #b94974 55%);
}

.button_jams {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 25px;
    display: none;
}

.button_jams > button {
    border: solid 2px white;
    color: #FFF;
    border-radius: 20px;
    height: 35px;
    width: 150px;
    margin: auto;
    background-color: inherit;
}

.vertical_text_block_jams {
    padding-top: 25px;
    padding-bottom: 10px;
    width: 50px;
    height: 350px;
    display: flex;
    justify-content: center;
}

.vertical_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #97a1aa;
}

.vertical_line {
    border-left: 1px solid #97a1aa;
    flex-grow: 1;
    width: 1px;
}
.vertical_middle_text {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.full_width {
    width: 100%;
}

.jams [href$=".html"] {
    text-decoration: none;
    color: white;
}

.jams [href$=".html"]:hover {
    text-decoration: none;
}

.honey {
    flex: 100px 1 0;
    display: flex;
    justify-content: space-between;
    height: 230px;
    /* padding-top: 25px; */
    padding: 25px 10px 0 10px;
    
}

.honey>div {
    background-color: #ffdc38;
    border-radius: 10px;
    flex-basis: 400px;
    text-align: left;
    padding-top: 10px; 
    padding-left: 20px;
}

.vertical_text_block_honey {
    padding-top: 25px;
    width: 50px;
    height: 230px;
    display: flex;
    justify-content: center;
}

.honey_tittle {
    position: absolute;
}

.honey_tittle div:first-child {
    font-size:  20px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.honey img{
    width: 100%;
    max-height: 230px;
    object-position: right -60px bottom -10px;
}

.honey >div {
    overflow: hidden;
}

.second_text {
    font-size: 12px;
    font-weight: bold;
}



.prodaction_information {
    margin-top: 30px;
    background-color: rgb(248, 248, 248);
    text-align: center;
    /* width: 100%; */
}

.prodaction_information>div {
    display: grid;
    max-width: 1300px;
    margin: auto;
    padding: 45px 0;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 110px 55px 85px 85px 85px 45px;
    grid-column-gap: 15px;
    grid-row-gap: 25px;
    grid-template-areas: 
    'tittle tittle tittle'
    '.      imageb       .'
    'family imageb  packaging'
    'fields imageb  quality'
    'apiary imageb   manual'
    '.      imageb   .     '    ;
}

.tittle {
    grid-area: tittle;
}

.tittle>h2 {
    font-family: 'Russo One', sans-serif;
    color: rgb(15, 15, 51);
}

.tittle p {
    font-size: 16px;
    margin-top: 25px;
    /* font-weight: bold; */
}

.prodaction_information h3 {
    margin-bottom: 10px;
}

.imageb {
    grid-area: imageb;
    position: relative;
}

.imageb img {
    width: 285px;
    border-radius: 10px;
}

.family {
    grid-area: family;
    text-align: right;
}

.packaging {
    grid-area: packaging;
    text-align: left;
}

.fields {
    grid-area: fields;
    text-align: right;
}

.quality {
    grid-area: quality;
    text-align: left;
}

.apiary {
    grid-area: apiary;
    text-align: right;
}

.manual {
    grid-area: manual;
    text-align: left;
}

.prodaction_information [href$=".html"] {
    text-decoration: none;
    color: rgb(15, 15, 51);
}

.prodaction_information a {
    text-decoration: none;
    color: rgb(15, 15, 51);
}

.prodaction_information a:hover {
    text-decoration: underline;
}

.imageb>button{
    position: absolute;
    left: 73px;
    bottom: 10px;
}





