* {
    box-sizing: border-box;
    margin: 0;
}

.font {
    font-family: 'Exo 2' , sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row ;
    padding: 15px 0;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}
header {
    background-color: rgb(248, 248, 248);
}
.logo img{
    width: 6em;
}
.navigation {
    margin: 0;
    padding: 0;
}
.navigation > li {
    display: inline-block;
    margin-right: 15px;
    
}
.navigation > li:last-child {
    margin-right: 0;
    
}
header [href$=".html"] {
    text-decoration: none;
    color: black;
}
header [href$=".html"]:hover {
    text-decoration: underline;
}
.nav_right > div {
    display: inline-block;
}

.nav_right select {
    background-color: rgb(248, 248, 248);
    border: none;
    width: 80px;
    background: url('../images/circle.png') no-repeat right;
    margin-right: 15px;
    background-size: 19px;  
    font-size: 16px;
}

.main_section {
    background-color: rgb(248, 248, 248);
    background-image: url('../images/Vector.png');
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 155px;
    background-size: 100% auto;
}
.main_section > div {
    display: flex;
    flex-direction: row;
    color: rgb(15, 15, 51);
    max-width: 1300px;
    margin: auto;
}

.main_section > div > div {
    flex: 300px 1 0;
}

.main_section h1 {
    max-width: 430px;
    font-family: 'Russo One', sans-serif;
    font-size: 35px;
}
.main_section p {
    font-size: 16px;
    margin-top: 25px;
    font-weight: bold;
    max-width: 400px;
}

.main_section [href$=".html"] {
    text-decoration: none;
    color: rgb(15, 15, 51);
}
.yellow_underline {
    text-decoration: underline #ffdc38;
    text-decoration-skip-ink: none;
}

.button1 {
    color: rgb(15, 15, 51);
    font-weight: bold;
    font-variant:  small-caps;
    border-radius: 20px;
    border: none;
    height: 35px;
    width: 160px;
    background-image: linear-gradient(50deg, rgb(243, 151, 12), #ffdc38 55%);
    box-shadow: 0 10px 20px #ffdc38;
    margin-top: 25px;
}

.button1:hover {
    background-image: linear-gradient(50deg, rgb(243, 151, 12), #ffdc38);
}

.main_section >div >div:first-child {
    margin-top: 60px;
}

.side_padding {
    padding-left: 20px;
    padding-right: 20px;
}

.advantages {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.advantages div {
    display: flex;
    flex: 100px 1 0;
}

.advantages img {
    width: 20px;
    margin-right: 5px;
}

.bottle {
    text-align: center;
    position: relative;
}

.bottle img{
    width: auto;
    max-height: 500px;
}

.card1 {
    width: 220px;
    height: 120px;
    border-radius: 20px;
    background-color: #ffdc38;
    text-align: left;
    padding: 10px 20px;
    position: absolute; right: 50px; bottom: 30px;
    background-image: url('../images/lemon.png');
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 120% 10%;
}

.card1 div:first-child {
    font-size: 20px;
}

.card1 div {
    margin-bottom: 12px;
}
.button2 {
    color: rgb(15, 15, 51);
    font-weight: bold;
    font-size: 12px;
    border-radius: 20px;
    border: solid 2px rgb(9, 80, 9);
    height: 25px;
    width: 80px;
    background-color: #ffdc38;
}

.button2:hover {
    background-color: #f0cf77;
}

.products {
    /* display: inline-block; */
    text-align: center;
    width: 100%;
}

.products h2{
    font-family: 'Russo One', sans-serif;
    color: rgb(15, 15, 51);
    font-family: 'Russo One', sans-serif;
}

.products p {
    font-size: 16px;
    margin-top: 25px;
    font-weight: bold;
}

.main_jams {
    display: flex;
    max-width: 1300px;
    margin: auto;
    /* margin-top: 25px; */
    
}

.jams1 {
    transform: rotate(270deg);
    flex: 10px 0 0;
}

.jams1::after, .jams1::before {
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}



.jams {
    flex: 100px 1 0;
    display: flex;
    justify-content: space-between;
    height: 350px;
    overflow: hidden;
    padding-top: 25px;
}

.jams>div {
    border-radius: 10px;
    color: white;
    flex-basis: 240px;
    position: relative;
}

.jams>div:hover {
    filter: saturate(70%) blur(1px);
    transform: scale(1.1);
}

.jams_tittle {
    font-size:  20px;
    margin-bottom: 12px;
    margin-top: 12px;
    /* min-width: 250px; */
}

.jams img{
    width: auto;
    max-height: 300px;
    margin-top: 15px;
}

.jams2 {
    background-image: linear-gradient(0deg, #d31d2c, #f75865 55%) ;
}

.jams3 {
    background-image: linear-gradient(0deg, #55539b, #918fd8 55%);
}

.jams4 {
    background-image: linear-gradient(0deg, #eb6526, #ec8a63 55%);
}

.jams5 {
    background-image: linear-gradient(0deg, #8a2b4f, #b94974 55%);
}

.button_jams {
    border: solid 2px white;
    border-radius: 20px;
    height: 35px;
    width: 200px;
}